body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  min-height: calc(100vh - 70px - 64px);
  padding: 50px 0;


}

.cart{
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 5;
  padding: 1rem;
  background-color: #fff8e1;
}
@media (min-width: 767px){
  .cart{
    bottom: unset;
    top: 6rem;
  }
}
.material-icons{
  font-size: 35px;
  color: #ffab00;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  color: #4e342e ;
}

.basket-list {  
  animation: show 500ms ease-in-out;
  color: #ffab00;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 1px 3px 8px 5px #4dd0e1
}

.basket-clear {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #4e342e ;

}

.basket-delete{
  vertical-align:middle;
}

@keyframes show {
  from{
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1S;
  }
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: #ffab00;
  font-size: 20px;
  border: #ffab00 solid;
  border-radius: 5px;
  margin: 0 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
  -webkit-animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in{
  from {
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
    opacity: 0;
}
to {
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  opacity: 1;
}
}


.collect{
  position: fixed;
  top:6rem;
  left:50%;
  transform:translate(-50%, 0);
  width: 80%;
  background-color: #fff;
  -webkit-transform:translate(-50%, 0);
  -moz-transform:translate(-50%, 0);
  -ms-transform:translate(-50%, 0);
  -o-transform:translate(-50%, 0);
}
.collection-item{
  padding: 30px !important;
  margin: 0 !important;
}
.collection{
  margin: 0;
}